* {
  outline: none;
  box-shadow: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.header {
  background-color: #111;
  color: white;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.download-cv-btn {
  display: inline-block;
  padding: 8px 24px;
  background-color: #6600cc;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-size: 1rem;
  text-align: center;
}

.download-cv-btn:hover {
  background-color: #8f40e8;
}

.logo a {
  color: white;
  text-decoration: none;
  font-size: clamp(1.2rem, 3vw, 2rem);
}

.nav-links {
  display: flex;
  gap: clamp(1rem, 2vw, 2rem);
}

.nav-links {
  position: relative;
}

.active-indicator {
  position: absolute;
  bottom: -5px;
  height: 3px;
  background-color: #a3a3ff;
  transition: transform 0.3s ease, width 0.3s ease;
  border-radius: 10px;
  will-change: transform, width;
  z-index: 1;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s;
  font-weight: 600;
}

.nav-links a:hover {
  color: #a3a3ff;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  background: none;
  border: none;
  z-index: 101;
}

.hamburger .bar {
  width: 25px;
  height: 3px;
  background-color: white;
  transition: all 0.3s ease;
}

.hamburger.open .bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.open .bar:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

@media screen and (max-width: 800px) {
  .download-cv-btn {
    padding: 5px 20px;
    font-size: 0.8rem;
  }

  .nav-links {
    display: none;
  }

  .hamburger {
    display: flex;
  }

  .mobile-menu-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background: rgba(17, 17, 17, 0.8);
    backdrop-filter: blur(12px);
    transform: translateX(100%);
    transition: transform 0.4s ease;
    z-index: 100;
    display: flex;
    justify-content: flex-end;
  }

  .mobile-menu-overlay.open {
    transform: translateX(0);
  }

  .mobile-menu-overlay.close {
    transform: translateX(100%);
  }

  .mobile-menu-overlay .nav-links {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: #1e1e1e;
    height: 100%;
    width: 250px;
    padding: 2rem;
    box-shadow: -4px 0 20px rgba(0, 0, 0, 0.3);
  }
}
